{include file="public/head" /}

        {include file="public/left" /}
		
     <!--  <img src="/myb/public/static/1 (23).jpg" alt="" style=" width:1550px; height:715px"> -->
	 <div class="layui-body" style="  overflow:hidden;" >
	 		<div style="padding: -5px;" class="">
	 		<img src="/myb/public/static/1 (23).jpg" alt="" style=" width:1553px; height:700px" >
			<div class="footer layui-footer" style="background-color: #426374">Copyright 上海电机学院 by 姚铖霖 网络1712 </div>
	 		</div>
	 	</div>

{include file="public/foot" /}
